:root {
    --background-color: rgb(31, 31, 31);
    --background-lighter-color: rgb(50, 50, 50);
    --background-darker-color: rgb(25, 25, 25);
    --regular-font-family: 'Inter';
    --bigger-font-size: 22px;
    --regular-font-size: 18px;
    --smaller-font-size: 16px;
    --regular-font-color: white;
    --regular-font-letter-spacing: 1px;

    --accent-color: rgb(35, 169, 242);
    --succes-color: lightgreen;
    --failure-color: rgb(253, 47, 47);
}

h2 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    color: var(--regular-font-color);
    letter-spacing: var(--regular-font-letter-spacing);
}

button {
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;

    background-color: var(--background-lighter-color);
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    color: var(--regular-font-color);
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 74px;
}

nav ul li {
    height: 64px;
    width: 64px;
    margin: 0.5rem;
}

nav ul li a {
    width: 64px;
    height: 64px;
}

.underborder {
    border-bottom: 2px solid var(--accent-color);
}

.clickable {
    cursor: pointer;
}

.icon {
    width: 2em;
    height: 2em;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    height: 88vh;
    width: 100%;
}

.signup-container {
    height: 100vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: var(--background-lighter-color);
    padding: 20px;
    border-radius: 10px;
}

.create-field-container {
    display: flex;
    flex-direction: column;
}

.darker {
    background-color: var(--background-darker-color);
}

.error-border {
    border: 2px solid red !important;
    border-bottom: 2px solid red;
    transition: all 0.3s;
    border-radius: 1px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.input-text {
    background-color: var(--background-lighter-color);
    border: none;
    border-bottom: 2px solid var(--accent-color);
    padding: 6px 4px;
    font-size: 16px;
    color: var(--regular-font-color);
}

.input-text:focus {
    outline: none;
}

#fight-button {
    background-color: darkred;
    color: red;
}

.player-character-container {

    height: 500px;
    width: 800px;


    border-radius: 15px;
    border: 2px solid var(--accent-color);

    background-color: var(--background-darker-color);
}

.player-character-top {
    display: flex;
    height: 20%;
    border-bottom: 2px solid var(--accent-color);
}

.player-character-top-left {
    display: flex;

    width: 64px;
    padding: 15px;
    /* border: 2px dotted var(--accent-color); */
    align-items: center;
}

.player-character-top-right {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.player-character-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted var(--accent-color); */
    height: 100%;
    width: 200px;
}


.player-character-bottom {
    display: flex;
    width: 100%;
    height: 79.7%;
    border-radius: 15px;

    background-color: black;
}

.player-character-bottom-right {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    /* border: 1px dotted var(--accent-color); */
}

.character-description-container {
    max-width: 90%;
}

.character-description {
    font-size: var(--smaller-font-size);
}

.success {
    color: var(--succes-color);
}

.failure {
    color: var(--failure-color);
}

.character-name {
    font-family: 'Cinzel';
    font-weight: 700;
    letter-spacing: 3px;
    font-size: var(--bigger-font-size);
    text-transform: uppercase;

}

.elf-style {
    background: linear-gradient(180deg, #00ffd0, #00c3ff);
    /* сам градиент */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* для Chrome/Safari */
    background-clip: text;
    /* для Firefox */
    color: transparent;
}

.human-style {
    background: linear-gradient(180deg, #066af5, rgb(41, 41, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orc-style {
    color: #ff0000;
    text-shadow:
        0 0 4px red,
        0 0 8px #aa0000,
        0 0 12px #660000;
}

.icon-hoverable:hover {
    box-shadow: 0 0 12px var(--accent-color);
    /* золотое сияние */
    transform: translateY(-2px);
    /* лёгкий подскок */
    cursor: pointer;
}

.icon-clickable:active {
    transform: scale(0.95);
}

.hidden {
    display: none !important;
}

.selection-menu-container {
    background-color: var(--background-darker-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    position: fixed;
    left: 200px;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 64px);
    gap: 15px;
}

.choose-menu-container>a {
    width: 64px;
    height: 64px;
}

.selected {
    box-shadow: 0 0 12px gold !important;
}